* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
}

header {
    background-color: gray;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

h1 {
    color: yellow;
    margin-left: 10px;
}

.menu {
    background-color: yellow;
    width: 450px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}

.imagens {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.imagens img {
    display: flex;
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
    border: solid yellow;
}

.logo:hover {
    font-size: 35px;
}

.primeiro:hover, .segundo:hover, .terceiro:hover {
    color: white;
}

@media screen and (max-width: 360px) {
    .logo {
        display: none;
    }
    .menu {
        height: 120%;
        width: 100%;
    }
    .coluna {
        margin-left: 90px;
    }
    .imagens {
        flex-direction: column;
    }
}
